.tweet {
  border-bottom: 1px solid #aab8c2;
  margin-top: 0.3rem;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
}
.tweet-extras {
  width: 70%;
}
.tweet-img {
  inset: 0px;
  width: 100%;
  border-radius: 1rem;
}

.tweet-user {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.9rem 2rem;
  width: 70%;
  gap: 1rem;
}
.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.user-account {
  display: flex;
  align-items: center;
}
.user-name {
  font-size: 1.7rem;
  font-weight: 600;
}
.user-handle {
  font-size: 1.6rem;
  font-weight: 500;
}

.tweet-actions {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 2rem;
}
.action-btn {
  border: none;
  background: transparent;
}
.action-btn .bi {
  width: 2rem;
  height: 2rem;
}

@media only screen and (max-width: 499px) {
  .center {
    display: contents;
  }
  .tweet-user {
    width: 100%;
  }
  .tweet-img {
    inset: 0px;
    width: 100%;
    border-radius: 1rem;
  }
  .center-top {
    display: none;
  }
  .new-tweets {
    border-bottom: 1px solid #aab8c2;
    margin-bottom: 0.3rem;
  }
}
@media only screen and (max-width: 690px) {
  .tweets {
    border: none;
  }
}

@media only screen and (max-width: 1002px) {
}
