.chat {
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.details {
  /* padding: 0 0 1.6rem; */
  width: 102%;
  position: fixed;
  left: 0;
  transform: translateX(50%);
  background: #eee;
  z-index: 10;
}
.details .bi {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 1rem;
}
.details .bi:hover {
  background-color: #aab8c2;
}

.sender {
  position: relative;
  top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  max-height: max-content;
  padding: 2rem;
  border-bottom: 1px solid #e1e8ed;
}
.sender-info,
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.user-link {
  text-decoration: none;
  font-size: 1.7rem;
  color: #14171a;
  margin-bottom: 1px;
}
.user-link:hover {
  cursor: pointer;
  border-bottom: 1px solid currentColor;
}

.sender:hover {
  background-color: #e1e8ed;
}
.chat-space {
  position: relative;
  top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #d3d8db;
}
.chat-box {
  padding: 1rem;
  margin: 1rem;
  max-width: 50%;
  border-bottom-left-radius: 1.7rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 1.7rem;
}
.chat-sent {
  background-color: #1da1f2;
  position: relative;
  left: 50%;
  transform: translateX(0);
}

.chat-received {
  background-color: #aab8c2;
}

.chat-input {
  border: 1px solid #aab8c2;
  background-color: #d3d8db;
  padding: 1.3rem;
  margin: 0 1rem;
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;
  position: fixed;
  width: 45%;
  top: 100%;
  transform: translateY(-100%);
}
.chat-interactions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.chat-input svg {
  fill: #0795ee;
  border-radius: 50%;
}
.chat-input svg:hover {
  background-color: #d3d8db;
}
.input-text {
  border: none;
  outline: none;
  background-color: inherit;
  color: #14171a;
  font-size: 1.7rem;
  width: 100%;
}

@media (max-width: 699px) {
  .chat {
    width: 90%;
    position: relative;
  }
  .chat-input {
    width: 90%;
    padding: 0.8rem;
    position: fixed;
    top: 100%;
    transform: translateY(-100%);
  }
}

@media screen and (min-width: 1400px) {
  .details {
    width: 100%;
  }
}
